<div class="table-responsive">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Exhibit Term</th>
      <th scope="col">Description</th>
      <th scope="col">Related Terms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Forced dispersal</th>
      <td>The forced removal of Japanese Canadians from their homes and businesses, primarily in British Columbia, and subsequent incarceration in internment and labour camps, employment on sugar beet farms, or exile to Japan during the 1940s.</td>
      <td>Forced uprooting; Forced removal; Internment; Incarceration</td>
    </tr>
    <tr>
      <th scope="row">Nikkei</th>
      <td>Anyone with one or more
ancestors from Japan, and/or anyone who
		  self-identifies as <i>nikkei</i> <sup>1</sup></td>
      <td>Nisei (Second generation Japanese Canadian)</td>
    </tr>
    <tr>
      <th scope="row">Sugar beet farms</th>
      <td>The government rhetoric around sugar beet farms often depicted them as "projects" that Japanese Canadians willingly volunteered for. In reality, this was the only alternative to labour camps for families that did not want to be split up, and who had enough members eligible to perform farm work. </td>
      <td></td>
    </tr>
	  <tr>
      <th scope="row">Farm owners</th>
      <td>The farmers and owners of the fields where Japanese Canadians laboured to harvest sugar beets. Most of the correspondents refer to these individuals simply as "boss," or simply use their title and surname throughout the letters.</td>
      <td></td>
    </tr>
	    <tr>
      <th scope="row">Restricted Zone</th>
      <td>A 160-kilometre strip along the west coast of British Columbia from which Japanese Canadians were forcibly removed and forbidden from re-entering as of March 1942.</td>
      <td>Protected Zone</td>
    </tr>
  </tbody>
</table>
</div>
