/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Spectral&display=swap');
    
$font-family-sans-serif: 'Poppins', sans-serif !default;
    
$font-family-serif: 'Spectral', serif !default;

$headings-font-family: $font-family-sans-serif;

body {
  font-family: serif !default;
}
