/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap'); 

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

body {
  font-family: 'Spectral', serif;
  font-size: 20px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

html {
  font-size: 100%; }

.navbar-nav a{
    font-family: 'Oxygen', sans-serif !important;
    z-index: 10000;
    overflow: visible !important;
}
