/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap'); 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

body {
  font-family: 'Spectral', serif;
  font-size: 20px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

html {
  font-size: 100%; }

.navbar-nav a{
    font-family: 'Oxygen', sans-serif !important;
    z-index: 10000;
    overflow: visible !important;
}

.dropdown-item:active{
 background-color: #646D4A}

.breadcrumb-item+.breadcrumb-item::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
}
