<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#homemodal">
  Click here for more information about how to use this site
</button>

<div class="modal fade" id="homemodal" tabindex="-1" role="dialog" aria-labelledby="abouttheexhibit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="abouttheexhibit">About the Exhibit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>This exhibit offers several different ways in which you can explore the letters in the Gillis fonds and learn about their authors, as well as about Japanese Canadian forced dispersal in general.</p>
          <p>If you are interested in reading the letters for yourself, you can choose how you wish to explore them using the "Browse Letters" and "Meet the Correspondents" sections of the site. Letters can be explored by thematic subjects set by the curators, by location, by when they were written, and by who wrote them by selecting these options from the menu</p>
          <p> If you would like to learn more about how these letters communicate information about different aspects of the forcibly dispersed life of Japanese Canadians, consider exploring the "Explore Themes" section of the site, which offers interpretation of some of the content of the letters.</p>
          <p>Lastly, the "About" section of the site provides important context surrounding this exhibit's curation. We encourage you to visit this section if you are interested in our positionality and process for curating the exhibit.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
