---
layout: page
---
{%- assign items = site.data[site.metadata] -%}

{% include feature/blockquote.html text="<big>Even though we’re far apart, I know we’ll meet again – and I hope it’ll be soon. I’ll always remember you and think of you, no matter when & where. I’m just itching for the time to come, when we’re all together and happy once more.</big>" author="Sumi Mototsune" citation="Letter to Joan Gillis, July 31, 1942" %}
<div class="container">
  <div class="row">
    <div class="col-md-8 my-auto">
      <h1> Introduction </h1>
      <p style="text-indent: 25px;">Between December 1941 and March 1942, the Canadian Federal Government passed numerous Orders in Council that reduced the freedom of Japanese Candians to live on the Pacific coast. These included orders that required registration with the RCMP, the assertion of control over Japanese Canadian owned or operated vessels, and the establishment of a restricted zone from which individuals who were viewed as “enemy aliens” could be forcibly removed and dispossessed. These orders led to the forced dispersal of approximately 22,000 Japanese Canadians from British Columbia, who were given very limited options for where they could go, especially if they wanted to remain together as a family.</p>
    </div>
    <div class="col-md-4 my-auto">
      {% include index/description.html %}
    </div>
  </div>
</div>
<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1tvRQHzLsZc5hga-rxS_S1kfGEm4x0s7HphdXIQ3935g&font=PT&lang=en&initial_zoom=4&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>

<div class="container">
       <div class="row">
          <div class="col-md-6 my-auto">
              <p style="text-indent: 25px;">Regardless of where exactly they ended up, the life that Japanese Canadians had to lead in their forced dispersal was not easy. Stripped of the possessions and capital they had earned in B.C., families were forced to do extensive manual labour for little pay, often meaning that children, too, had to sacrifice their education and the ability to know a childhood without work in order to survive.</p>
              <p style="text-indent: 25px;">This exhibit focuses on a selection of letters written by young Japanese Canadians that describe the childhoods they were able to have. It details their deep homesickness and sense of isolation from their friends and communities, the new living and labour conditions they had to endure, their continued sense of Canadian identity even as the government labeled them “alien,” the bright spots they were able to find in their present conditions, and their imaginations for the future</p>
          </div>
          <div class="col-md-6">
              {% include feature/image.html objectid="https://library-rbsc-2017.sites.olt.ubc.ca/files/2021/08/RBSC_ARC_1786_Photographs-3-13-test.jpg" alt="A young man crouching in a field drinking water. He is wearing a hat and a pitchfork is resting on his shoulder." caption="Yoshio Nakamura drinking water in the field while haying. This photograph was taken in the summer of 1942." width="75" %}
          </div>
       </div>
</div>

<p style="text-indent: 25px;">These letters represent a connection that these teens sought to maintain with someone who could give them the news from home, someone who reminded them of their lives before they were forcibly removed, someone who had freedoms that they were no longer afforded.</p>

<p style="margin-bottom:25px;">We invite you to explore the experiences of these teens through the letters and the materials available through this exhibit.</p>

<h2>Additional Information</h2><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      {% include feature/card.html text="<small>A photograph of Joan Gillis from the early 1940s. Image Credit: The Family of Joan Parolin (nee Gillis) </small>" objectid="https://cdn.discordapp.com/attachments/798302352737566730/882023805244047440/IMG_0579.JPG" width="50" centered=true %}
           </div>
    <div class="col-sm-8 my-auto">
      <h6>Who Was Joan Parolin (nee Gillis)?</h6>
      <p style="text-indent: 25px;">The recipient of these letters was a then-fourteen-year-old girl named Joan Gillis. She was a white classmate of these correspondents at Queen Elizabeth Secondary School in Surrey, B.C. The correspondents knew Joan with varying degrees of familiarity. Some were very close to her and knew her family well. Others had only known her in passing before they were forcibly dispersed, but took the opportunity to write to a somewhat familiar person who was happy to write them letters.</p>
      <p style="text-indent: 25px;">Regardless of how well they knew her prior to their forced displacement, Joan represented a key connection to these correspondents' home in B.C. and the life that they could no longer live due to their forced removal from the coast. These letters clearly must have also meant something to Joan, as she held on to them long after they had been received. Joan rediscovered the letters while cleaning her house in the 2000s and ultimately donated them to the University of British Columbia's Rare Books and Special Collections library in 2018.</p>
     </div>
  </div>
</div>
<h6>A Note on Terminology</h6>
<p style="text-indent: 25px;"> Terms that we use in this exhibit were selected based on guidance made available by the Nikkei National Centre and the Landscapes of Injustice project and in consultation with members of  the Japanese Canadian community. However, we also wish to recognize that these choices reflect a particular point in time and a particular lens of reflection upon the events that are the focus of the exhibit.</p>

<p>For more information about specific terminology, please see the 'Terminology' section on the <a href="https://ubc-library-rbsc.github.io/gillis-2021/about.html">About page</a>.</p>

<div class="row">
    <div class="col-md-6">
      {% include index/time.html %}
    </div>
    <div class="col-md-6">
         {% include index/objects.html %}
     </div>
</div>
<div class="col-md-12">

    {% include index/data-download.html %}

  </div>
