---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include feature/item-figure.html objectid="gillis005" width="75" %}

  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/objects.html %}

  </div>
 <div class="col-md-10"
  
   <big>Introduction</big><br>
  
<p style="text-indent: 25px;">Between December 1941 and March 1942, nearly 80 years ago, the Canadian Federal Government passed numerous Orders in Council that reduced the freedom of Japanese Candians to live on the Pacific coast. These included orders that required registration with the RCMP (P.C. 9591, December 7, 1941 and P.C. 9760, December 16, 1941), the assertion of control over Japanese Canadian owned or operated vessels (P.C. 9761, December 16, 1941), and the establishment of a restricted zone from which individuals who were viewed as “enemy aliens” could be forcibly removed and dispossessed (P.C. 365, January 16, 1942, P.C. 1486, and P.C. 1665). These orders led to the forced dispersal of almost 22,000 Japanese Canadians from British Columbia, who were given very limited options for where they could go, especially if they wanted to remain together as a family. <br>

<p style="text-indent: 25px;">Regardless of where exactly they ended up, the life that Japanese Canadians had to lead in their forced dispersal was not easy. Stripped of the possessions and capital they had earned in B.C., families were forced to do a large amount of manual labour for little pay, often meaning that children, too, had to sacrifice their education and the ability to know a childhood without work in order to survive. <br>

<p style="text-indent: 25px;">This exhibit focuses on a selection of letters written by young Japanese Canadians that describe the childhoods they were able to have. It details their deep homesickness and sense of isolation from their friends and communities, the new living and labour conditions they had to endure, their continued sense of Canadian identity even as the government labeled them “alien,” the bright spots they were able to find in their present conditions, and their imaginations for the future. <br>

<p style="text-indent: 25px;">These letters represent a connection that these teens sought to maintain with someone who could give them the news from home, someone who reminded them of their lives before they were forcibly removed, someone who had freedoms that they were no longer afforded. <br>

[insert short intro to who Joan was, what the letters are] <br>

We invite you to explore the letters [more stuff] <br>


  <big> Terminology </big> <br>

Terms that we use in this exhibit were selected based on guidance made available by the Nikkei National Centre and the Landscapes of Injustice project and in consultation with members of  the Japanese Canadian community. However, we also wish to recognize that these choices reflect a particular point in time and a particular lens of reflection upon the events that are the focus of the exhibit. 
</div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
